.cardArticle {
  display: grid;
  margin: 1rem;
  border: 1px solid yellow;
}

.cardArticle h3 {
  color: var(--accent-color);
  font-size: 1.75rem;
}

.cardArticle p {
  color: var(--primary-text-color);
}

.button {
  background-color: var(--primary-btn-color);
}