html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --primary-bg-color: #252525;
  --primary-text-color: #F6F5F5;
  --primary-btn-color: #E94560;
  --accent-color: #F4ABC4; 
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
