html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --primary-bg-color: #276678;
  --primary-text-color: #F6F5F5;
  --primary-btn-color: #1687A7;
  --accent-color: #D3E0EA; 
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
